	@font-face {
    font-family: BatmanForeverAlternateCyr; /* Гарнитура шрифта */
    src: url(fonts/10.ttf); /* Путь к файлу со шрифтом */
   }
   	@font-face {
    font-family: Serebro; /* Гарнитура шрифта */
    src: url(fonts/11.otf); /* Путь к файлу со шрифтом */
   }
   	@font-face {
    font-family: SegoeUI-LightItalic; /* Гарнитура шрифта */
    src: url(fonts/13.ttf); /* Путь к файлу со шрифтом */
   }
   	@font-face {
    font-family: Numbers; /* Гарнитура шрифта */
    src: url(fonts/10906.ttf); /* Путь к файлу со шрифтом */
   }

.numberButton1 {
	background-color: #3A3E44;
	border: 1px solid gray;
    position: relative;
	height: 100%;
	width: 25%;
	transition: 1s;
	margin-right: -1.9%;
    padding: 1px;
    padding-right: 0px;
    font: 400 20px Numbers;
    color:#FFFFFF;

}
.numberButton1:active {

	transition: 0.25s;
    background-color: #1D1F22;

}
.numberButton2 {
	background-color: #3A3E44;
	border: 1px solid gray;
    position: relative;
	height: 100%;
	width: 33.3%;
	transition: 1s;
	margin-right: -2.4%;
    padding: 1px;
    padding-right: 0px;
    color:#FFFFFF;
    font: 400 20px Numbers;

}
.numberButton2:active {

	transition: 0.25s;
    background-color: #1D1F22;

}
.operationsButton {
    background-color: #2B2D33;
	border: 1px solid gray;
  	border: 1px solid gray;
    position: relative;
	height: 100%;
	width: 25%;
	margin-right: -1.9%;
    font: 400 20px Numbers;
	color:#FFFFFF;

}
.operationsButton:active {
	transition: 0.25s;
    background-color: #0E0F11;
}
.Input{
	border: 1px solid #2D3035;
	position: relative;
	height: 65%;
	width: 98.9%;
	font: 400 30px Numbers;
	text-align: right;
	background-color: #2D3035;
	color: white;

}
.Input2{
	border: 1px solid #2D3035;
	position: relative;
    height: 23%;
	width: 98.9%;
	font: 400 15px Numbers;
	text-align: right;
	background-color: #2D3035;
	color: #6E7076;
}
.DivStyle1{
	position: relative;
	left: 0px;
	top: 0px;
	height: 16.666666667%;
	width: 100%;
}
.DivStyle2{
	position: relative;
	left: 0px;
	top: 0px;
	height: 16.666666667%;
	width: 75%;
	float: left; 
}
.DivStyle3{
    position: relative;
    left: 0px;
    top: -16.6667%;
    height: 33.3%;
    width: 25%;
    background-color: #D5C100;
    float: left;
}
.equalSign{
	background-color: #CD3116;
	color: white; 
	border: 1px solid gray;
	position: relative;
	height: 100%;
	width: 100%;
	margin-right: -1.9%;
    font: 400 20px Numbers;
	color:#FFFFFF;
}
.equalSign:active {
	transition: 0.25s;
    background-color: #9F2712;
}